{% extends 'job_products/base.html' %}
{% block title %}Daily...Thoughts | News{% endblock title %}
{% block content-holder %}
<div class="export-container">
    <div class="data-btn">Export Data: &nbsp; &nbsp;<button><a href="">CSV</a></button> <button><a href="">JSON</a></button></div>
</div>
{% if object_list %}
{% for objects in object_list  %}
<div class="News_content-holder">
    <img src="{{objects.image}}">
    <a href="{{objects.url}}"><p>{{objects.headline}}</p></a>


</div>
{% endfor %}
{% endif %}
{% endblock content-holder %}